In [2]:
#STEP 1: Load the Data.
import pandas as pd

# Load the dataset
file_path = '/Users/deveshattri/Desktop/SkillCraft Technology Internship/API_SP/API_SP.POP.TOTL_DS2_en_csv_v2_539898.csv'
data = pd.read_csv(file_path, skiprows=4)  # Skip the first 4 rows which usually contain metadata

# Display the first few rows of the dataset
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0,NaN

In [3]:
#STEP 2: Inspect the data

# Display the summary of the dataset
print("\nSummary of the dataset:")
print(data.info())

# Check for missing values
print("\nMissing values in the dataset:")
print(data.isnull().sum())

# Display basic statistics of the dataset
print("\nBasic statistics of the dataset:")
print(data.describe(include='all'))

Summary of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            265 non-null    float64
 35  1991            265 non-null    float64
 36  1992            265 non-null    float64
 37  1993            265 non-null    float64
 38  1994            265 non-null    float64
 39  1995            265 non-null    float64
 40  1996            265 non-null    float64
 41  1997            265 non-null    float64
 42  1998            265 non-null    float64
 43  1999            265 non-null    float64
 44  2000            265 non-null    float64
 45  2001            265 non-null    float64
 46  2002            265 non-null    float64
 47  2003            265 non-null    float64
 48  2004            265 non-null    float64
 49  2005            265 non-null    float64
 50  2006            265 non-null    float64
 51  2007            265 non-null    float64
 52  2008            265 non-null    float64
 53  2009            265 non-null    float64
 54  2010            265 non-null    float64
 55  2011            265 non-null    float64
 56  2012            265 non-null    float64
 57  2013            265 non-null    float64
 58  2014            265 non-null    float64
 59  2015            265 non-null    float64
 60  2016            265 non-null    float64
 61  2017            265 non-null    float64
 62  2018            265 non-null    float64
 63  2019            265 non-null    float64
 64  2020            265 non-null    float64
 65  2021            265 non-null    float64
 66  2022            265 non-null    float64
 67  2023            265 non-null    float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None

Missing values in the dataset:
Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                2
                 ...
2020                1
2021                1
2022                1
2023                1
Unnamed: 68       266
Length: 69, dtype: int64

Basic statistics of the dataset:
       Country Name Country Code     Indicator Name Indicator Code  \
count           266          266                266            266
unique          266          266                  1              1
top           Aruba          ABW  Population, total    SP.POP.TOTL
freq              1            1                266            266
mean            NaN          NaN                NaN            NaN
std             NaN          NaN                NaN            NaN
min             NaN          NaN                NaN            NaN
25%             NaN          NaN                NaN            NaN
50%             NaN          NaN                NaN            NaN
75%             NaN          NaN                NaN            NaN
max             NaN          NaN                NaN            NaN

                1960          1961          1962          1963          1964  \
count   2.640000e+02  2.640000e+02  2.640000e+02  2.640000e+02  2.640000e+02
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean    1.157939e+08  1.173869e+08  1.195401e+08  1.222050e+08  1.248922e+08
std     3.639920e+08  3.684672e+08  3.751049e+08  3.837174e+08  3.923714e+08
min     2.646000e+03  2.888000e+03  3.171000e+03  3.481000e+03  3.811000e+03
25%     5.132212e+05  5.231345e+05  5.337595e+05  5.449288e+05  5.566630e+05
50%     3.708088e+06  3.816540e+06  3.931214e+06  4.033994e+06  4.112910e+06
75%     2.670606e+07  2.748694e+07  2.830289e+07  2.914708e+07  3.001684e+07
max     3.031517e+09  3.072470e+09  3.126894e+09  3.193470e+09  3.260480e+09

                1965  ...          2015          2016          2017  \
count   2.640000e+02  ...  2.650000e+02  2.650000e+02  2.650000e+02
unique           NaN  ...           NaN           NaN           NaN
top              NaN  ...           NaN           NaN           NaN
freq             NaN  ...           NaN           NaN           NaN
mean    1.276182e+08  ...  2.986442e+08  3.024871e+08  3.063370e+08
std     4.011556e+08  ...  9.336474e+08  9.448081e+08  9.559803e+08
min     4.161000e+03  ...  1.087700e+04  1.085200e+04  1.082800e+04
25%     5.651150e+05  ...  1.788196e+06  1.777557e+06  1.791003e+06
50%     4.194930e+06  ...  1.035808e+07  1.032545e+07  1.030030e+07
75%     3.084892e+07  ...  6.073058e+07  6.062750e+07  6.053671e+07
max     3.328243e+09  ...  7.404251e+09  7.490956e+09  7.577110e+09

                2018          2019          2020          2021          2022  \
count   2.650000e+02  2.650000e+02  2.650000e+02  2.650000e+02  2.650000e+02
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean    3.101259e+08  3.138348e+08  3.174293e+08  3.206783e+08  3.236218e+08
std     9.668651e+08  9.774204e+08  9.875137e+08  9.965683e+08  1.004474e+09
min     1.086500e+04  1.095600e+04  1.106900e+04  1.120400e+04  1.131200e+04
25%     1.797085e+06  1.788878e+06  1.790133e+06  1.786038e+06  1.768086e+06
50%     1.039533e+07  1.044767e+07  1.060623e+07  1.050577e+07  1.048694e+07
75%     6.042176e+07  5.987258e+07  6.170452e+07  6.358833e+07  6.549775e+07
max     7.661178e+09  7.742725e+09  7.821272e+09  7.888964e+09  7.951595e+09

                2023  Unnamed: 68
count   2.650000e+02          0.0
unique           NaN          NaN
top              NaN          NaN
freq             NaN          NaN
mean    3.269710e+08          NaN
std     1.013469e+09          NaN
min     1.139600e+04          NaN
25%     1.756374e+06          NaN
50%     1.059380e+07          NaN
75%     6.743811e+07          NaN
max     8.024997e+09          NaN

[11 rows x 69 columns]

In [4]:
#Step 3: Clean the data

# 1. Remove the 'Unnamed: 68' column.
data = data.drop(columns=['Unnamed: 68'], errors='ignore')

# 2. Handle Missing Values

# Fill missing population values with the mean value for each year
years = [col for col in data.columns if col.isdigit()]
data[years] = data[years].apply(lambda x: x.fillna(x.mean()), axis=0)

# 3. Remove duplicates
data = data.drop_duplicates()

# 4. Standardize Data Types
# Convert year columns to integers
data[years] = data[years].astype(int)

# Verify the changes
print("Cleaned Data Summary:")
print(data.info())
print("\nMissing values after cleaning:")
print(data.isnull().sum())

# Save the cleaned data to a new CSV file
cleaned_file_path = 'cleaned_dataset.csv'
data.to_csv(cleaned_file_path, index=False)
print(f"Cleaned data saved to {cleaned_file_path}")


data = pd.read_csv('cleaned_dataset.csv')

Cleaned Data Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            266 non-null    int64
 5   1961            266 non-null    int64
 6   1962            266 non-null    int64
 7   1963            266 non-null    int64
 8   1964            266 non-null    int64
 9   1965            266 non-null    int64
 10  1966            266 non-null    int64
 11  1967            266 non-null    int64
 12  1968            266 non-null    int64
 13  1969            266 non-null    int64
 14  1970            266 non-null    int64
 15  1971            266 non-null    int64
 16  1972            266 non-null    int64
 17  1973            266 non-null    int64
 18  1974            266 non-null    int64
 19  1975            266 non-null    int64
 20  1976            266 non-null    int64
 21  1977            266 non-null    int64
 22  1978            266 non-null    int64
 23  1979            266 non-null    int64
 24  1980            266 non-null    int64
 25  1981            266 non-null    int64
 26  1982            266 non-null    int64
 27  1983            266 non-null    int64
 28  1984            266 non-null    int64
 29  1985            266 non-null    int64
 30  1986            266 non-null    int64
 31  1987            266 non-null    int64
 32  1988            266 non-null    int64
 33  1989            266 non-null    int64
 34  1990            266 non-null    int64
 35  1991            266 non-null    int64
 36  1992            266 non-null    int64
 37  1993            266 non-null    int64
 38  1994            266 non-null    int64
 39  1995            266 non-null    int64
 40  1996            266 non-null    int64
 41  1997            266 non-null    int64
 42  1998            266 non-null    int64
 43  1999            266 non-null    int64
 44  2000            266 non-null    int64
 45  2001            266 non-null    int64
 46  2002            266 non-null    int64
 47  2003            266 non-null    int64
 48  2004            266 non-null    int64
 49  2005            266 non-null    int64
 50  2006            266 non-null    int64
 51  2007            266 non-null    int64
 52  2008            266 non-null    int64
 53  2009            266 non-null    int64
 54  2010            266 non-null    int64
 55  2011            266 non-null    int64
 56  2012            266 non-null    int64
 57  2013            266 non-null    int64
 58  2014            266 non-null    int64
 59  2015            266 non-null    int64
 60  2016            266 non-null    int64
 61  2017            266 non-null    int64
 62  2018            266 non-null    int64
 63  2019            266 non-null    int64
 64  2020            266 non-null    int64
 65  2021            266 non-null    int64
 66  2022            266 non-null    int64
 67  2023            266 non-null    int64
dtypes: int64(64), object(4)
memory usage: 141.4+ KB
None

Missing values after cleaning:
Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2019              0
2020              0
2021              0
2022              0
2023              0
Length: 68, dtype: int64
Cleaned data saved to cleaned_dataset.csv

In [ ]:
#Step 4: Let's take 2 variables:
#(i) X-Axis = Country Name
#(ii) Y-Axis = Country Population

#Let's create the histogram for every year.
import matplotlib.pyplot as plt

for i in years:
    population = data[['Country Name', i]]
    plt.figure(figsize=(10,6))
    plt.hist(population[i], bins=20, edgecolor='black')
    plt.xlabel(f'Population in the year {i}')
    plt.ylabel('Number of Countries')
    plt.title('Distribution of Population in the Year '+ i)
    plt.show()

In [ ]:
#Step 5: Now similarly let's make the bar chart

for i in years:
    population_bar= data[['Country Name', i]]
    plt.figure(figsize=(50,15))
    plt.bar(population_bar['Country Name'], population_bar[i])
    plt.xlabel('Name of the Country')
    plt.ylabel(f'Population in the year {i}')
    plt.title(f'Population of Countries in year {i}')
    plt.xticks(rotation=90)
    plt.show()